<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>
<p>
  <strong>Book:</strong>
  <%= @review.book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @review.book.author.name %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
